<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>

<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'weather' %}">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city name" required>
        <input type="radio" name="unit" value="metric" checked> Celsius
        <input type="radio" name="unit" value="imperial"> Fahrenheit
        <button type="submit">Get Weather</button>
    </form>
    
    {% if weather_info %}
        <!-- Display weather data -->
        <div>
            <h1>Weather in {{ weather_info.city }}</h1>
            {% if weather_info.error %}
                <p>{{ weather_info.error }}</p>
            {% else %}
                <p>Temperature: {{ weather_info.temperature }}{% if unit == 'metric' %}°C{% else %}°F{% endif %}</p>
                <p>Condition: {{ weather_info.condition }}</p>
                <img src="http://openweathermap.org/img/wn/{{ weather_info.icon }}.png" alt="weather icon">
                <p>Condition ID: {{ weather_info.condition_id }}</p>
                <p>Humidity: {{ weather_info.humidity }}%</p>
            {% endif %}
        </div>
    {% endif %}
    
    <!-- stores user preference   -->
    {% if user.is_authenticated %}
        <!-- Inside the user profile section -->
        <form method="post" action="{% url 'set_preferred_city' %}">
            {% csrf_token %}
            <input type="text" name="preferred_city" placeholder="Set your preferred city" value="{{ user.userprofile.preferred_city }}">
            <button type="submit">Save Preferred City</button>
        </form>
    {% else %}
        <p>You must be logged in to save your preferred city.</p>
    {% endif %}
    <script>

        // window.onload = function () {
        //     if (confirm("Do you want to share your IP address with us to detect your city?")) {
        //         fetch('/location/')
        //             .then(response => response.http())
        //             .then(data => {
        //                 let city = data.city;
        //                 alert(`You are accessing from: ${city}`);
        //             });
        //     }
        // }

    </script>
</body>

</html>