<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>

<body>
    

    <!-- prompt the user to choose the temperate unit -->
    <form method="post" action="{% url 'weather' %}">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city name" required>
        <input type="radio" name="unit" value="metric" checked> Celsius
        <input type="radio" name="unit" value="imperial"> Fahrenheit
        <button type="submit">Get Weather</button>
    </form>
    
    <!-- Display the weather result -->
    {% if weather_info %}
        <div>
            <h1>Weather in {{ weather_info.city }}</h1>
            <!-- alert the user if they have input an invalid city name -->
            {% if weather_info.error %}
                <p>{{ weather_info.error }}</p>
            {% else %}
                <p>Temperature: {{ weather_info.temperature }}{% if unit == 'metric' %}°C{% else %}°F{% endif %}</p>
                <p>Condition: {{ weather_info.condition }}</p>
                <img src="http://openweathermap.org/img/wn/{{ weather_info.icon }}.png" alt="weather icon">
                <p>Condition ID: {{ weather_info.condition_id }}</p>
                <p>Humidity: {{ weather_info.humidity }}%</p>
                <p>Wind Speed: {{ weather_info.wind_speed }}{% if unit == 'metric' %} m/s{% else %} miles/h{% endif %}</p>
                <p>Activity Recommendation: {{ weather_info.activity }}</p>
            {% endif %}
        </div>
    {% endif %}
    
    <!-- Allows the user to store the preference   -->
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'set_default_city' %}">
            {% csrf_token %}
            <input type="text" name="default_city" placeholder="Set your default city" value="{{ user.userpreference.default_city }}">
            <button type="submit">Save Default City</button>
        </form>
    <!-- for debugging only, let the users know they havent login -->
    {% else %}
        <p>You need to login to save your default city.</p>
    {% endif %}
    
    <!-- alert the user about the weather   -->
    {% if condition_group == 'severe' %}
        <div class="alert alert-danger" role="alert">
            Severe weather warning!!!
        </div>
    {% endif %}
</body>

</html>